
- name: Create the source code directory
  ansible.builtin.file:
    path: /opt/app
    state: directory
    mode: '0755'
  become: true


- name: Clone the source code repository
  ansible.builtin.git:
    repo: "{{ source_code.repo_url }}"
    version: "{{ source_code.branch_name }}"
    dest: /opt/app
  become: true

- name: Upgrade pip, setuptools and wheel
  ansible.builtin.pip:
    name:
      - pip
      - setuptools
      - wheel
    state: latest
    executable: pip3
  become: true

- name: Install the package dependencies for web application
  ansible.builtin.pip:
    requirements: /opt/app/requirements.txt
    executable: pip3
  become: true

- name: Create the environment config file
  ansible.builtin.template:
    src: app.env.j2
    dest: /opt/app/app.env
    mode: '0600'
  become: true

- name: Create the gunicorn daemon service
  ansible.builtin.template:
    src: gunicorn.service.j2
    dest: /etc/systemd/system/gunicorn.service
  become: true
  notify:
    - Reload systemd
    - Restart gunicorn service
