---
- name: test block/rescue
  hosts: nodes
  gather_facts: true
  tasks:
    - name: Main Block
      block:
        - name: Test the ping
          ansible.builtin.ping:
          failed_when: inventory_hostname == 'vagrantubuntulab0102'

        - name: Accumulate success
          ansible.builtin.set_fact:
            _result:
              host: "{{ inventory_hostname }}"
              status: "OK"
              interfaces: "{{ ansible_facts['interfaces'] }}"

      rescue:
        - name: Accumulate failure
          ansible.builtin.set_fact:
            _result:
              host: "{{ inventory_hostname }}"
              status: "FAIL"
      always:
        - name: Tasks that will run after the main block
          block:
            - name: Collect results
              ansible.builtin.set_fact:
                _global_results: "{{ (_global_results | default([])) + [hostvars[item]['_result']]  }}"
              loop: "{{ ansible_play_hosts }}"

            - name: Classify results
              ansible.builtin.set_fact:
                _results_ok: "{{ _global_results | selectattr('status', 'equalto', 'OK') | list }}"
                _results_fail: "{{ _global_results | selectattr('status', 'equalto', 'FAIL') | list }}"

            - name: Display results OK
              ansible.builtin.debug:
                msg: "{{ _results_ok }}"
              when: ( _results_ok | length ) > 0

            - name: Display results FAIL
              ansible.builtin.debug:
                msg: "{{ _results_fail }}"
              when: ( _results_fail | length ) > 0
          run_once: true
          delegate_to: localhost